body {
  font-family: sans-serif;
}
.navigationPanel {
  display: flex;
  font-size: 14px;
  align-items: flex-end;
  background-color: #ededed;
  padding: 20px 5px;
}
.tab {
  color: #3c3d3c;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding: 0 5px;
  margin-right: 5px;
  font-weight: normal;
}
.tab:hover {
  border-color: #3c3d3c;
}
.activeTab {
  border-color: #3c3d3c;
}
.home {
  font-weight: 600;
  margin-right: 15px;
  font-size: 16px;
}

.tabContent {
  padding: 5px;
  width: 80%;
}